#include <physical_layouts.dtsi>
/ {
    a28_0: a28_0 {
        compatible = "zmk,physical-layout";
	transform = <&a28_all_transform>;
        display-name = "Layout 0";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400    0       0     0     0>
            , <&key_physical_attrs 100 100  500    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100  600  100       0     0     0>
            , <&key_physical_attrs 100 100  700  100       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100   50  200       0     0     0>
            , <&key_physical_attrs 100 100  150  200       0     0     0>
            , <&key_physical_attrs 100 100  250  200       0     0     0>
            , <&key_physical_attrs 100 100  350  200       0     0     0>
            , <&key_physical_attrs 200 100  450  200       0     0     0>
            , <&key_physical_attrs 100 100  650  200       0     0     0>
            , <&key_physical_attrs 100 100  750  200       0     0     0>
            , <&key_physical_attrs 100 100  850  200       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        layout_0 {
            physical-layout = <&a28_0>;
            positions = <>;
        };
    };
};
